// papogen.css - Elements/Divider
include icon.pug

mixin divider-mixin(data, attr, content)
    - if (attr.horizontal)
        - if (content.icon != undefined)
            - var icon-obj = {
                data: content.icon
            }
            +icon(icon-obj) #{data}
        - else
            | #{data}

mixin divider(obj)
    - var className = "divider"
    - if (obj.attr.cleared != undefined)
        - if (obj.attr.cleared)
            - className += " divider-cleared"
    - if (obj.attr.section != undefined)
        - if (obj.attr.section)
            - className += " divider-section"
    - if (obj.attr.compact != undefined)
        - if (obj.attr.compact)
            - className += " divider-compact"
    - if (obj.attr.inverted != undefined)
        - if (obj.attr.inverted)
            - className += " divider-inverted"
    - if (obj.attr.horizontal != undefined)
        - if (obj.attr.inverted)
            - className += " divider-h"
    div(class=className)
        +divider-mixin(obj.data, obj.attr, obj.content)
    