// papogen.css - Image

mixin image(obj)
    - var className = "img"
    - if (obj.attr.size != undefined)
        - if (obj.attr.size == "mini" || obj.attr.size == "tiny" || obj.attr.size == "small" || obj.attr.size == "big" || obj.attr.size == "large" || obj.attr.size == "huge" || obj.attr.size == "massive" ||)
            - className = className + " img-" + obj.attr.size
    - if (obj.attr.floated != undefined)
        - if (obj.attr.floated == "right" || obj.attr.floated == "left")
            - className = className + " img-floated-" + obj.attr.floated
    - if (obj.attr.centered != undefined)
        - if (obj.attr.centered)
            - className += " img-centered"
    - if (obj.attr.rounded != undefined)
        - if (obj.attr.rounded)
            - className += " img-rounded"
    - if (obj.attr.fluid != undefined)
        - if (obj.attr.fluid)
            - className += " img-fluid"
    - if (obj.attr.avatar != undefined)
        - if (obj.attr.avatar)
            - className += " img-avatar"
    img(class=className src=obj.data)/