// papogen.css - Element/Section

mixin section(obj)
    - var className = "section"
    - if (obj.attr.floated != undefined)
        - if (obj.attr.floated == "right" || obj.attr.floated == "left")
            - className = className + " section-floated-" + obj.attr.floated
    - if (obj.attr.aligned != undefined)
        - if (obj.attr.aligned == "left" || obj.attr.aligned == "center" || obj.attr.aligned == "right")
            - className = className + " section-aligned-" + obj.attr.aligned
    - if (obj.attr.basic != undefined)
        - if (obj.attr.basic)
            - className += " section-basic"
    - if (obj.attr.cleared != undefined)
        - if (obj.attr.cleared)
            - className += " section-cleared"
    - if (obj.attr.inverted != undefined)
        - if (obj.attr.inverted)
            - className += " section-inverted"
    - if (obj.attr.color != undefined)
        - if (obj.attr.color == "red" || obj.attr.color == "orange" || obj.attr.color == "yellow" || obj.attr.color == "green" || obj.attr.color == "blue" || obj.attr.color == "navy" || obj.attr.color == "purple" || obj.attr.color == "pink" || obj.attr.color == "brown" || obj.attr.color == "grey")
            - className = className + " section-" + obj.attr.color
    - if (obj.attr.compact != undefined)
        - if (obj.attr.compact)
            - className += " section-compact"
    - if (obj.attr.padded != undefined)
        - if (obj.attr.padded)
            - className += " section-padded"
    - if (obj.attr.raised != undefined)
        - if (obj.attr.raised)
            - className += " section-raised"
    div(class=className)