// papogen.css - Displays/Statistic

include ../elements/icon.pug
include ../elements/image.pug

mixin statistic-mixin(data, attr, content)
    div(class="statistic-value")
        - if (content.icon != undefined)
            - var icon-obj = {
                data: content.icon,
                attr: undefined,
                content: undefined
            }
            +icon(icon-obj)
        - if (content.img != undefined)
            - var img-obj = {
                data: content.img
                attr: {
                    avatar: true,
                    inline: true,
                    size: "mini"
                }
            }
            +image(img-obj)
        - if (data.value != undefined)
            | #{data.value}
    div(class="statistic-label")
        - if (data.label != undefined)
            | #{data.label}

mixin statistic(obj)
    - var className = "statistic"
    - if (obj.attr.size != undefined)
        - if (obj.attr.size == "mini" || obj.attr.size == "tiny" || obj.attr.size == "small" || obj.attr.size == "big" || obj.attr.size == "large" || obj.attr.size == "huge" || obj.attr.size == "massive")
            - className = className + " statistic-" + obj.attr.size
    - if (obj.attr.floated != undefined)
        - if (obj.attr.floated == "right" || obj.attr.floated == "left")
            - className = className + " statistic-floated-" + obj.attr.floated
    - if (obj.attr.inverted != undefined)
        - if (obj.attr.inverted)
            - className += " statistic-inverted"
    - if (obj.attr.color != undefined)
        - if (obj.attr.color == "red" || obj.attr.color == "orange" || obj.attr.color == "yellow" || obj.attr.color == "green" || obj.attr.color == "blue" || obj.attr.color == "navy" || obj.attr.color == "purple" || obj.attr.color == "pink" || obj.attr.color == "brown" || obj.attr.color == "grey")
            - className = " statistic-" + obj.attr.color
    - if (obj.attr.horizontal != undefined)
        - if (obj.attr.horizontal)
            - className += " statistic-h"
    div(class=className)
        +statistic-mixin(obj.data, obj.attr, obj.content)