// "doc" type, with tabs usage as template
// Author: Kevin Cyu

// Include mixin
include mixin/doc-list.pug
// Main
doctype html
html
    // Include head
    include head/doc-head.pug
    body
        div.container
            div.paper
                div(id = "top" class = "demo-title")
                    div.row.flex-center
                        div.text-center 
                            h1 #{title}
                div.section
                    include body/doc-tabs.pug
                div(class = "to-top")
                    a(href = "#top" class = "paper-btn margin") Top
                include footer/copy.pug
