// Type: papogen-resume
// Author: David Lu

// Include mixin
include papogen/papogen.pug

// Main
doctype html
html
    // Include head
    include head/doc-head.pug
    body
        div(class="container")
            div(class="grid")
                div(class="col col-span-6")
                    div(class="section")
                        img(class="img img-fluid")
                        - var header-obj = {
                            data: namelist[0].article,
                            attr: {
                                aligned: "center",
                                size: "h1"
                            },
                            content: {
                                sub: "Programmer"
                            }
                        }
                        +header(header-obj)
                        div(class="divider")
                        
                div(class="col col-span-10")
                    // papoGen Resume Body
                    include body/papogen-resume-body.pug
            
