// Type: papogen custom template
// Author: David Lu, Kevin Cyu

// Include mixin
include papogen/elements
include papogen/displays

// Main
doctype html
html
    // Include head
    include head/doc-head.pug
    body
        div(class="container")
            div(class="grid")
                div(class="col col-span-5")
                    div(class="section")
                        include body/papogen-resume-left.pug

                div(class="col col-span-11")
                    div(class="section")
                        include body/papogen-resume-right.pug
            
