// "resume" type
// Author: Kevin Cyu

// using list format in doc type
include mixins/doc-list.pug
// main
doctype html
html
    // include header
    include header/doc-header.pug
    body
        div.container
            div.paper
                // Paper Title
                div(id="top" class="demo-title")
                    div.row.flex-center
                        div.text-center 
                            h1 #{title}
                // Section tag as button
                div(id="nav")
                    include body/resume-nav.pug
                // Section body 
                include body/resume-body.pug
                div(class="to-top")
                    a(href="#top" class="paper-btn margin") Top
                // Include copyright
                include footer/copy.pug