html {
    background: lightgoldenrodyellow;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Neucha, setofont, sans-serif;
}

body {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: rgba(255, 255, 255, .25);
}

@font-face{
	font-family: 'setofont';
	src: url('./font/setofont.ttf');
}
