- var article = namelist[1].article
- var article_content = namelist[1].article_content
- var header_obj = { data: namelist[1].article, attr: { size: "h2" } }
+header(header_obj)

- for (var i = 0; i < (article_content != undefined ? article_content.length : 0); ++i)
    - header_obj = { data: article_content[i].title, attr: { color: "grey", divided: true, size: "h3" }, content: {} }
    +header(header_obj)
    - for (var c = 0; c < article_content[i].content.length; ++c)
        - if (article_content[i].content[c].type == "text")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - if (article_content[i].content[c].data[d].toString().match(/[\u3400-\u9FBF]/))
                    p(class="cn") #{article_content[i].content[c].data[d]}                                                    
                - else
                    p #{article_content[i].content[c].data[d]}
        - if (article_content[i].content[c].type == "alert")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - var alert_obj = { data: article_content[i].content[c].data, attr: article_content[i].content[c].attr }
                +alert(alert_obj)
        - if (article_content[i].content[c].type == "timeline")
            - var timeline_obj = { data: article_content[i].content[c].data, attr: article_content[i].content[c].attr }
            +timeline(timeline_obj)
        - if (article_content[i].content[c].type == "statistic")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - var statistic_obj = { data: article_content[i].content[c].data, attr: article_content[i].content[c].attr }
                +statistic(statistic_obj)