/*!
 * # papoGen 0.0.1 - Variables
 */


/*******************************
Variables
*******************************/

$import-google-fonts: true !default;
$font-url: 'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext' !default;
$font-name: 'Quicksand' !default;
$font-family: $font-name 'Helvetica Neue' Arial Helvetica sans-serif !default;