// papogen.css - Displays/Table

mixin table_mixin(data, attr)
    - for (var item = 0; item < data[0].items.length; ++item)
        - if (item == 0)
            thead 
                tr
                - for (var d = 0; d < data.length; ++d)
                    th #{data[d].name}
        - else 
            tbody 
                tr
                - for (var d = 0; d < data.length; ++d)
                    td #{data[d].items[item]}

mixin table(obj)
    - var className = "table"
    - if (typeof obj.attr.compact !== undefined)
        - if (obj.attr.compact)
            - className += " table-compact"
    - if (typeof obj.attr.padded !== undefined)
        - if (obj.attr.padded)
            - className += " table-padded"
    - if (typeof obj.attr.inverted !== undefined)
        - if (obj.attr.inverted)
            - className += " table-inverted"
    - if (typeof obj.attr.collapsed !== undefined)
        - if (obj.attr.collapsed)
            - className += " table-collapsed"
    - if (typeof obj.attr.simple !== undefined)
        - if (obj.attr.simple)
            - className += " table-simple"
    - if (typeof obj.attr.striped !== undefined)
        - if (obj.attr.striped)
            - className += " table-striped"
    - if (typeof obj.attr.celled !== undefined)
        - if (obj.attr.celled)
            - className += " table-celled"
    - if (typeof obj.attr.selectable !== undefined)
        - if (obj.attr.selectable)
            - className += " table-selectable"
    - if (typeof obj.attr.stackable !== undefined)
        - if (obj.attr.stackable)
            - className += " table-stackable"
    - if (typeof obj.attr.fixed !== undefined)
        - if (obj.attr.fixed)
            - className += " table-fixed"
    - if (typeof obj.attr.monotonic !== undefined)
        - if (obj.attr.monotonic)
            - className += " table-monotonic"
   
    table(class=className)
        +table_mixin(obj.data, obj.attr)