// papogen.css - Elements/Divider

mixin divider_mixin(data, attr)
    - if (typeof attr.icon !== undefined)
        - var icon_obj = { data: attr.icon, attr: {} }
        +icon(icon_obj)
    - if (data !== "")
        | #{data}

mixin divider(obj)
    - var className = "divider"
    - if (typeof obj.attr.cleared !== undefined)
        - if (obj.attr.cleared)
            - className += " divider-cleared"
    - if (typeof obj.attr.section !== undefined)
        - if (obj.attr.section)
            - className += " divider-section"
    - if (typeof obj.attr.compact !== undefined)
        - if (obj.attr.compact)
            - className += " divider-compact"
    - if (typeof obj.attr.inverted !== undefined)
        - if (obj.attr.inverted)
            - className += " divider-inverted"
    - if (typeof obj.data !== undefined && obj.data !== "")
        - className += " divider-h"
    div(class=className)
        +divider_mixin(obj.data, obj.attr)
    