// Mixin papogen.css - Elements

include components/divider.pug
include components/header.pug
include components/icon.pug
include components/image.pug
include components/list.pug
include components/section.pug