// papogen.css - Elements/Image

mixin image(obj)
    - var className = "img"
    - if (typeof obj.attr.size !== undefined && obj.data.length == 1)
        - if (obj.attr.size == "mini" || obj.attr.size == "tiny" || obj.attr.size == "small" || obj.attr.size == "big" || obj.attr.size == "large" || obj.attr.size == "huge" || obj.attr.size == "massive")
            - className = className + " img-" + obj.attr.size
    - if (typeof obj.attr.floated !== undefined)
        - if (obj.attr.floated == "right" || obj.attr.floated == "left")
            - className = className + " img-floated-" + obj.attr.floated
    - if (typeof obj.attr.centered !== undefined)
        - if (obj.attr.centered)
            - className += " img-centered"
    - if (typeof obj.attr.rounded !== undefined)
        - if (obj.attr.rounded)
            - className += " img-rounded"
    - if (typeof obj.attr.circular !== undefined)
        - if (obj.attr.circular)
            - className += " img-circular"
    - if (typeof obj.attr.fluid !== undefined)
        - if (obj.attr.fluid)
            - className += " img-fluid"
    - if (typeof obj.attr.inline !== undefined)
        - if (obj.attr.inline)
            - className += " img-inline"
    - if (typeof obj.attr.avatar !== undefined)
        - if (obj.attr.avatar)
            - className += " img-avatar"
    - for (var i = 0; i < obj.data.length; ++i)
        img(class=className src=obj.data[i])/