// papogen.css - Elements/List
include icon.pug

mixin list_mixin(data, attr)
    - for (var i = 0; i < data.length; ++i)
        div(class="item")
            - if (typeof attr.bulleted === undefined && typeof data[i].icon !== undefined)
                - var icon_obj = { data: data[i].icon, attr: {} }
                +icon(icon_obj)
            - else
                - if (typeof data[i].detail === undefined && typeof data[i].name !== undefined)
                    | #{data[i].name}
                - else
                    div(class="item-content")
                        div(class="item-hdr") #{data[i].name}
                    - if (typeof data[i].detail !== undefined)
                        div(class="item-detail") #{data[i].detail}
                    - if (data[i].items !== undefined)
                        div(class="list")
                            +list_mixin(data[i].items, {})

mixin list(obj)
    - var className = "list"
    - if (typeof obj.attr.horizontal !== undefined)
        - if (obj.attr.horizontal)
            - className += " list-h"
    - if (typeof obj.attr.size !== undefined)
        - if (obj.attr.size == "mini" || obj.attr.size == "tiny" || obj.attr.size == "small" || obj.attr.size == "big" || obj.attr.size == "large" || obj.attr.size == "huge" || obj.attr.size == "massive")
            - className = className + " list-" + obj.attr.size
    - if (typeof obj.attr.celled !== undefined)
        - if (obj.attr.celled)
            - className += " list-celled"
    - if (typeof obj.attr.divided !== undefined)
        - if (obj.attr.divided)
            - className += " list-divided"
    - if (typeof obj.attr.relaxed !== undefined)
        - if (obj.attr.relaxed == "normal")
            - className += " list-relaxed"
        - if (obj.attr.relaxed == "very")
            - className += " list-exrelaxed"
    - if (typeof obj.attr.selectable !== undefined)
        - if (obj.attr.selectable)
            - className += " list-selectable"
    - if (typeof obj.attr.inverted !== undefined)
        - if (obj.attr.inverted)
            - className += " list-inverted"
    - if (typeof obj.attr.ordered !== undefined)
        - if (obj.attr.ordered)
            - className += " list-ordered"
    - if (typeof obj.attr.bulleted !== undefined)
        - if (obj.attr.bulleted)
            - className += " list-bulleted"
    div(class=className)
        +list_mixin(obj.data, obj.attr)